# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#CLION
/cmake-build-debug/
*.idea

# Mac artifacts
*.DS_Store

# VSCode
*.vscode

# Ignore generated text files
# *.txt
build/
# Ignore executable
ELEN4020_Lab_2
